@font-face {
   font-family: 'GTWalsheimPro-Regular';
   font-display: swap;
   src: url('file:///Users/shuzm/Documents/web%20design/mobirise/axonchildrens%20mobirise/fonts/GTWalsheimPro-Regular/font.ttf');
}
